# Dependencies
node_modules/
.pnp
.pnp.*

# Build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Env files
.env
.env.*
!.env.example
.env.local

# Logs
*.log
logs/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tests
coverage/
.nyc_output/

# OS
.DS_Store
Thumbs.db

# IDE / Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
*.pem
.temp
.tmp